@import '../Scss/Style.scss';

.main_container{
    width: 100vw;
    height: 90vh;
    background: $accent_three;
}

.left_side{
    width: 65vw;
    height: 85vh;
    margin-top: 5vh;
    margin-left: -130px;
    background: $accent_three;
    float: left;
}

.spells_container{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    background: $accent_three;
    float: left;
}


.right_side{
    width: 35vw;
    height: 90vh;
    background: $accent_three;
    float: left;
}

.shop_heading{
    font-size: x-large;
    font-family: Inter;
    font-weight: 400;
    margin-left: 50px;
    float: left;
}
