@import '../Scss/Style.scss';

.main_container{
    width: 100vw;
    height: 90vh;
    background: #2B4447;
}

.left_side{
    width: 20vw;
    height: 100%;
    background: red;
    // margin-left: -200px;
    float: left;
}

.filter_section{
    width: 100%;
    height: 8vh;
    padding-top: 20px;
    background: rgb(119, 119, 225);
}

.filter_box{
    width: 100%;
    height: 42vh;
    background: green;
    float: left;
}

.bag_box{
    width: 100%;
    height: 38vh;
    background: blue;
    float: left;
}

.right_side{
    width: 70vw;
    height: 90vh;
    background: #ECE8DF;
    float: right;
}

.filter_text{
    font-size: 20px;
    font-family: Inter;
    padding-left: 50px;;
    font-weight: 400;
    color: #E6B27E;
    float: left;
}

