@import '../../Scss/Style.scss';


.detail_one{
    margin-top: 20px;
    width: 30%;
    height: 45%;
    background: $dark_green;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
  }

  .cap_value{
    margin-left: 20px;
    margin-top: 13px;
    color: $accent_three;
    font-weight: 400;
    font-size: 13px;
    font-family: Inter;
    float: left;
  }
  
.size_value{
    margin-left: 20px;
    margin-top: 13px;
    font-size: 13px;
    color: $accent_three;
    font-weight: 400;
    font-family: Inter;
    float: left;
}

.price_value{
    margin-left: 20px;
    margin-top: 13px;
    font-weight: 400;
    font-size: 13px;
    color: $accent_three;
    float: left;
}

.instock_value{
    margin-left: 15px;
    margin-top: 13px;
    font-weight: 400;
    font-size: 13px;
    color: $accent_three;
    float: left; 
}

  .row_one{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
  }
  
  .spell_icon{
    width: 35px;
    height: 35px;
    border-radius: 360px;
    margin-left: 10px;
    margin-top: 5px;
    background: $darkest_green;
    background-image: url('../../Assets/DropperGoldCap.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
  }
  
  .spell_name{
    font-family: Inter;
    font-weight: 600;
    color: $accent_three;
    align-self: center;
    margin-left: 10px;
  }
  
  .delete_btn{
    width: 15px;
    height: 23px;
    align-self: center;
    margin-left: 15px;
    background-image: url('../../Assets/TashBin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .delete_btn:hover{
    width: 15px;
    height: 23px;
    align-self: center;
    margin-left: 15px;
    background-image: url('../../Assets/TashBinHovered.svg');
  }
  
  .row_two{
    width: 100%;
    height: 12%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
  }

.left_col{
    width: 50%;
    height: 100%;
    float: left;
}

.row_three{
    width: 100%;
    height: 10%;
    float: left;
}

.size_text{
    font-size: 13px;
    margin-left: 15px;
    color: $text_accent;
    font-family: Inter;
    font-weight: 400;
    float: left;
}

.cap_text{
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    color: $text_accent;
    float: left;
}

.left_col_two{
    width: 50%;
    height: 100%;
    float: left;
}

.instock_text{
    font-size: 13px;
    font-family: Inter;
    color: $text_accent;
    font-weight: 400;
    margin-left: 15px;
    float: left;
}

.price_text{
    font-size: 13px;
    font-family: Inter;
    color: $text_accent;
    font-weight: 400;
    float: left;
}

.row_breaker{
    width: 100%;
    height: 4%;
    // background: whitesmoke;
    float: left;
}

.row_four{
    width: 100%;
    height: 20%;
    // background: blue;
    float: left;
}

.desc_text{
    font-size: 13px;
    font-family: Inter;
    color: $text_accent;
    font-weight: 400;
    margin-left: 15px;
    float: left;
}

.disclaim_text{
    font-size: 13px;
    font-family: Inter;
    color: $text_accent;
    font-weight: 400;
    margin-left: 15px;
    float: left;
}

// width = 240 + 15 = 255px
.view_btn{
    width: 105px;
    height: 100%;
    border-radius: 15px;
    margin-left: 15px;
    text-align: center;
    font-size: 12px;
    background: $accent_one;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border-style: none;
    color: $light_green;
    float: left;
}

.view_btn:hover{
    border: 1px solid $accent_three;
    background: none;
    cursor: pointer; 
}

.view_text{
    font-size: 12px;
    margin: auto;
    margin-top: 5px;
}

.edit_btn{
    width: 105px;
    height: 100%;
    border-radius: 15px;
    margin-left: 15px;
    text-align: center;
    font-size: 12px;
    background: $accent_one;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border-style: none;
    color: $light_green;
    float: left;
}

.edit_btn:hover{
    border: 1px solid $accent_three;
    background: none;
    cursor: pointer;
}


.row_six{
    width: 100%;
    height: 25px;
    margin-top: 20px;
    float: left;
}

.new_product_btn{
    width: 100%;
    height: 55px;
    margin-top: 20px;
    text-decoration: none;
    border-style: none;
    text-align: center;
    background: $accent_one;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 18px;
    text-transform: uppercase;
    
  }
  
  .new_product_btn:hover{
      border: 1px solid $accent_three;
      background: none;
      cursor: pointer;
    }

    .vSpacer{
        width: 20px;
        height: 20px;
        // background: red;
        float: left;
    }



