
// Colors
$darkest_green: #001818;
$dark_green: #2B4447;
$green: #3F6569;
$light_green: #D1E9E3;
$text_accent_one: #DAEFDE;

$accent_one: #EBA182;
$accent_two: #FECB9B;
$accent_three: #ECE8DF;
$text_accent: #E6B27E;

// Typography
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Nunito:wght@300;400&family=Raleway:ital,wght@0,400;0,600;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

